.header {
  background-color: $yellow;
  position: relative;
  height: 630px;
  @include sp {
    height: 100%;
  }
  &__wrap {
    max-width: 1000px;
    margin: auto;
  }
  &__nav {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include sp {
      padding: 40px 20px;
    }
    .header-logo {
      width: 100%;
      &__image {
        max-width: 100%;
      }
    }
    .nav-menu {
      display: flex;
      @include sp {
        display: none;
      }
      &__list {
        width: 150px;
        &--white {
          background-color: $white;
          border-radius: 2rem;
        }
        &__link {
          display: block;
          color: $white;
          margin: 20px 0;
          text-align: center;
          text-decoration: none;
          &--yellow {
            margin: 0;
            padding: 20px 0;
            color: $yellow;
          }
        }
      }
    }
  }
  .description-wrap {
    display: flex;
    @include sp {
      display: block;
    }
    .catch-copy {
      @include sp {
        margin-bottom: 50px;
        text-align: center;
      }
      &__title {
        font-size: 4rem;
        color: $white;
        margin-bottom: 1.5rem;
        line-height: 1.2em;
      }
      &__description {
        font-size: 1.5rem;
        line-height: 1.5em;
        color: $white;
        margin-bottom: 1.5rem;
        @include sp {
          text-align: left;
          padding: 0 30px;
        }
        &--pc {
          @include pc {
              display: block;
          }
          @include sp {
            display: none;
          }
        }
      }
      &__download {
        color: $white;
        background-color: $skyblue;
        text-decoration: none;
        display: inline-block;
        padding: 20px 100px;
        border-radius: 2rem;
      }
    }
    .top-image-wrap {
      position: absolute;
      right: 0;
      @include sp {
        position: static;
        padding-bottom: 100px;
      }
      &__image {
        max-width: 100%;
        &--pc-none {
          @include pc {
          display: none;
          }
        }
        &--sp-none {
          @include sp {
          display: none;
          }
        }
      }
      &:after {
        content: '';
        display: block;
      }
    }
  }
}